<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">Tilt Haber</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/persons" class="nav-link">Person Listesi</a>
            </li>
            <li class="nav-item">
                <a href="/admin/persons" class="nav-link">Admin Persons </a>
            </li>
            <li class="nav-item">
                <a href="/admin/categories" class="nav-link">Admin Categories </a>
            </li>
            <li class="nav-item">
                <a href="/admin/person/create" class="nav-link">Add Person </a>
            </li>
            <li class="nav-item">
                <a href="/admin/category/create" class="nav-link">Add Category </a>
            </li>
        </ul>
    </div>
</nav>